# Lesson 1 Exercise 2: Creating a Table with Apache Cassandra
<img src="images/cassandralogo.png" width="250" height="250">

### Walk through the basics of Apache Cassandra. Complete the following tasks:<li> Create a table in Apache Cassandra, <li> Insert rows of data,<li> Run a simple SQL query to validate the information. <br>
`#####` denotes where the code needs to be completed.
    
Note: __Do not__ click the blue Preview button in the lower taskbar

#### Import Apache Cassandra python package

In [1]:
import cassandra

### Create a connection to the database

In [2]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

### TO-DO: Create a keyspace to do the work in

In [3]:
## TO-DO: Create the keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS UDACITY
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [12]:
cluster.metadata.keyspaces

{'system_auth': <cassandra.metadata.KeyspaceMetadata at 0x7fe779b80e10>,
 'system_schema': <cassandra.metadata.KeyspaceMetadata at 0x7fe779bb41d0>,
 'system_distributed': <cassandra.metadata.KeyspaceMetadata at 0x7fe779ba6b38>,
 'system': <cassandra.metadata.KeyspaceMetadata at 0x7fe779b2c358>,
 'udacity': <cassandra.metadata.KeyspaceMetadata at 0x7fe779b35cf8>,
 'system_traces': <cassandra.metadata.KeyspaceMetadata at 0x7fe779b35d68>}

### TO-DO: Connect to the Keyspace

In [13]:
## To-Do: Add in the keyspace you created
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Create a Song Library that contains a list of songs, including the song name, artist name, year, album it was from, and if it was a single. 

`song_title
artist_name
year
album_name
single`

### TO-DO: You need to create a table to be able to run the following query: 
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [19]:
## TO-DO: Complete the query below
query = "CREATE TABLE IF NOT EXISTS music_albums "
query = query + "(song_title text, artist_name text, year int, album_next text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

### TO-DO: Insert the following two rows in your table
`First Row:  "Across The Universe", "The Beatles", "1970", "False", "Let It Be"`

`Second Row: "The Beatles", "Think For Yourself", "False", "1965", "Rubber Soul"`

In [41]:
## Add in query and then run the insert statement
query = "INSERT INTO music_albums (song_title, artist_name, year, album_next, single)" 
album_next="Across the Universe"
artist_name="The Beatles"
year=1970
single=False
song_title='Let it Be'
query = query + """VALUES (%(song_title)s, %(artist_name)s, %(year)s, %(album_next)s, %(single)s)"""
query = cassandra.query.SimpleStatement(query)

try:
    session.execute(query, dict(song_title=song_title, artist_name=artist_name, year=year, album_next=album_next, single=single))
except Exception as e:
    print(e)
    
try:
    session.execute(query, dict(song_title="Think For Yourself", artist_name="The Beatles", year=1965, album_next="Rubber Soul", single=False))
except Exception as e:
    print(e)

### TO-DO: Validate your data was inserted into the table.

In [43]:
## TO-DO: Complete and then run the select statement to validate the data was inserted into the table
query = 'SELECT * FROM music_albums'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_next, row.artist_name)

1965 Rubber Soul The Beatles
1970 Across the Universe The Beatles

### TO-DO: Validate the Data Model with the original query.

`select * from songs WHERE YEAR=1970 AND artist_name="The Beatles"`

In [ ]:
##TO-DO: Complete the select statement to run the query 
query = "#####"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

### And Finally close the session and cluster connection

In [ ]:
session.shutdown()
cluster.shutdown()